@using Microsoft.AspNetCore.Identity
@using YAF.Core.Context
@using YAF.Core.Utilities
@using YAF.Types.Constants
@using YAF.Types.Interfaces
@using YAF.Types.Models.Identity
@using YAF.Web.HtmlHelpers

@inject SignInManager<AspNetUsers> SignInManager

@model YAF.Types.Modals.LoginModal

@inject BoardContext Current


<div id="LoginBox" class="modal fade" role="dialog" aria-labelledby="Login" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Html.LocalizedText("LOGIN", "TITLE")
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form asp-controller="LoginBox" asp-action="SignIn" class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label asp-for="UserName" class="form-label" localized-tag="username"></label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    @Html.Icon("user", "text-secondary")
                                </span>
                                <input asp-for="UserName" class="form-control" autocomplete="username" required />
                                <div class="invalid-feedback">
                                    @Html.LocalizedText("NEED_USERNAME")
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label" localized-tag="PASSWORD"></label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    @Html.Icon("key", "text-secondary")
                                </span>
                                <input asp-for="Password" class="form-control" type="password" 
                                       autocomplete="current-password" required onkeydown="@Html.Raw(JavaScriptBlocks.ClickOnEnterJs("LoginButton"))" />
                                <a class="input-group-text link-underline link-underline-opacity-0" id="PasswordToggle" href="#">
                                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                </a>
                                <div class="invalid-feedback">
                                    @Html.LocalizedText("NEED_PASSWORD")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" asp-for="RememberMe"/>
                                    <label class="form-check-label" asp-for="RememberMe" localized-tag="auto"></label>
                                </div>
                            </div>
                            <div class="mb-3 col-md-6 text-end">
                                <a button-style="Secondary"
                                   button-size="Small"
                                   Icon="key"
                                   href="@Html.Raw(Current.Get<ILinkBuilder>().GetLink(ForumPages.Account_ForgotPassword))"
                                   text-localized-tag="LOSTPASSWORD"></a>
                            </div>
                        </div>
                        <div class="mb-3 d-grid gap-2">
                            <button id="LoginButton" Icon="sign-in-alt"
                                    type="submit"
                                    button-style="Primary"
                                    class="btn-loading"
                                    text-localized-tag="FORUM_LOGIN"></button>
                        </div>
                    </form>
                </div>
            </div>

            @if (Current.IsGuest && !Current.BoardSettings.DisableRegistrations)
            {
                <div class="modal-footer text-center">
                    <a button-size="Small"
                       button-style="OutlineSecondary"
                       Icon="user-plus"
                       href="@Html.Raw(Current.Get<ILinkBuilder>().GetLink(Current.BoardSettings.ShowRulesForRegistration ? ForumPages.Privacy : ForumPages.Account_Register))"
                       text-localized-tag="REGISTER_INSTEAD"></a>
                </div>
            }
        </div>
    </div>
</div>