@using YAF.Core.Context
@using YAF.Core.Utilities
@using YAF.Types.Interfaces
@using YAF.Web.HtmlHelpers
@using YAF.Web.TagHelpers

@inject BoardContext Current

@{
    Current.InlineElements.InsertJsBlock(nameof(JavaScriptBlocks.FileUploadLoadJs), 
        JavaScriptBlocks.FileUploadLoadJs(Current.BoardSettings.AllowedFileExtensions.Replace(",", "|"), 
            Current.BoardSettings.MaxFileSize, 
            Current.Get<IUrlHelper>().Action("Upload", "FileUpload"), 
            Current.BoardSettings.ImageAttachmentResizeWidth, 
            Current.BoardSettings.ImageAttachmentResizeHeight));
}

<div class="modal fade" id="UploadDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">
                    @Html.LocalizedText("ATTACHMENTS", "UPLOAD_TITLE")
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>
                    @Html.LocalizedText("ATTACHMENTS", "SELECT_FILE")
                </h4>
                <div>
                    <div id="fileupload">
                        <div class="fileupload-buttonbar">
                            <div id="dropzone" class="card link-light bg-dark border-danger mb-3">
                                <div class="card-body">
                                    <p class="card-text">
                                        @Html.LocalizedText("ATTACHMENTS", "DROP_HERE")
                                    </p>
                                </div>
                            </div>
                            <div class="alert alert-danger" role="alert" style="display: none">
                                @Html.LocalizedText("ATTACHMENTS", "COMPLETE_WARNING")
                            </div>
                            <div class="d-grid gap-2">
                                <span class="btn btn-success fileinput-button m-1">
                                    <i class="fa fa-plus fa-fw"></i>&nbsp;@Html.LocalizedText("ATTACHMENTS", "ADD_FILES")
                                    <input type="file" name="files" multiple>
                                </span>
                                <button type="submit" class="btn btn-primary start m-1">
                                    <i class="fa fa-upload fa-fw"></i>&nbsp;@Html.LocalizedText("ATTACHMENTS", "START_UPLOADS")
                                </button>
                                <span class="fileupload-process"></span>
                            </div>
                            <div class="col-lg-5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div class="progress active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-striped bg-success" style="width: 0"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <div id="UploadFilesBox">
                            <ul class="list-group files"></ul>
                        </div>
                    </div>
                    <script id="template-upload" type="text/x-tmpl">
                                            {% for (var i=0, file; file=o.files[i]; i++) { %}
                                            <li class="list-group-item list-group-item-action template-upload fade-ui">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><span class="preview"></span></h5>
                            <small class="text-muted size">Processing...</small>
                          </div>
                          <div class="mb-1"> <p class="name">{%=file.name%}</p>
                                                        <strong class="error text-danger"></strong>
                                                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                         </div>
                          <small class="text-muted"><div class="btn-group" role="group">
                                            {% if (!i && !o.options.autoUpload) { %}
                                      <button class="btn btn-success btn-sm start" disabled>Start</button>
                                  {% } %}
                                            {% if (!i) { %}
                                                            <button class="btn btn-danger btn-sm cancel"><i class="fa fa-times fa-fw"></i>&nbsp;@Html.LocalizedText("COMMON", "CANCEL")</button>
                                                        {% } %}</div></small>
                        </li>

                                            {% } %}
                    </script>

                    <script id="template-download" type="text/x-tmpl">
                    </script>
                </div>
            </div>
            <div class="modal-footer">
                @if (Current.BoardSettings.MaxFileSize > 0)
                {
                    <alert type="warning">
                        @(Current.Get<ILocalization>().GetTextFormatted("UPLOAD_NOTE",(Current.BoardSettings.MaxFileSize / 1024).ToString()))
                    </alert>
                }
                <div class="alert alert-info" role="alert">
                    <strong>
                        @Html.LocalizedText("ALLOWED_EXTENSIONS")
                    </strong>
                    @(Current.BoardSettings.AllowedFileExtensions.Replace(",", ", "))
                </div>
            </div>
        </div>
    </div>
</div>