@using YAF.Core.Context
@using YAF.Core.Helpers
@using YAF.Core.Model
@using YAF.Core.Utilities
@using YAF.Types.Interfaces
@using YAF.Types.Models
@using YAF.Web.HtmlHelpers

@inject BoardContext Current

@model YAF.Types.Modals.GroupMedalEditModal

@{
    var groups = new SelectList(Current.GetRepository<Group>().List(boardId: Current.PageBoardID), nameof(Group.ID), nameof(Group.Name));
}

<!-- Modal -->
<div class="modal fade" id="GroupMedalEditDialog" tabindex="-1" role="dialog" aria-labelledby="GroupMedalEditDialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Html.LocalizedText("ADMIN_EDITMEDAL", Model.GroupId > 0 ? "EDIT_MEDAL_GROUP" : "ADD_TOGROUP")
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Medal" asp-action="EditGroupMedal" class="needs-validation">
                    <!-- Modal Content START !-->
                    <input asp-for="MedalId" type="hidden" value="@Model.MedalId" />
                    <input asp-for="GroupName" type="hidden" value="@Model.GroupName" />
                
                    <div class="mb-3">
                        <label info-button="true" class="form-label"
                               asp-for="GroupId"
                               localized-tag="MEDAL_GROUP" localized-page="ADMIN_EDITMEDAL"></label>
                        
                        @if (Model.GroupId > 0)
                        {
                            <select asp-for="GroupId" class="select2-select" disabled="disabled" asp-items="groups"></select>
                        }
                        else
                        {
                            <select asp-for="GroupId" class="select2-select" asp-items="groups"></select>
                        }
                        
                    </div>
                    <div class="mb-3">
                        <label info-button="true" class="form-label"
                               asp-for="GroupMessage"
                               localized-tag="OVERRIDE_MESSAGE" localized-page="ADMIN_EDITMEDAL"></label>
                        <input type="text" asp-for="GroupMessage" maxlength="100" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label info-button="true" class="form-label"
                               asp-for="GroupSortOrder"
                               localized-tag="OVERRIDE_ORDER" localized-page="ADMIN_EDITMEDAL"></label>
                        <input type="number" asp-for="GroupSortOrder" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label info-button="true" class="form-label"
                                       asp-for="GroupHide"
                                       localized-tag="HIDE" localized-page="ADMIN_EDITMEDAL"></label>
                        <div class="form-check form-switch">
                            <input type="checkbox" asp-for="GroupHide" class="form-check-input"/>
                        </div>
                    </div>
                    <!-- Modal Content END !-->
                </form>
            </div>
            <div class="modal-footer">
                <button button-style="Primary" data-bs-save="editModal"
                        text-localized-tag="@(Model.GroupId > 0 ? "SAVE": "ADD_GROUP")"
                        text-localized-page="ADMIN_EDITMEDAL"
                        Icon="save">
                </button>
                <button type="button" button-style="Secondary" icon="xmark" data-bs-dismiss="modal" text-localized-tag="CANCEL"></button>
            </div>
        </div>
    </div>
</div>

<script>
    @Html.Raw(JsAndCssHelper.CompressJavaScript(JavaScriptBlocks.ChoicesLoadJs));
</script>