@using YAF.Core.Helpers
@using YAF.Core.Utilities
@using YAF.Web.HtmlHelpers

@model YAF.Types.Modals.NntpServerEditModal

<!-- Modal -->
<div class="modal fade" id="NntpServerEditDialog" tabindex="-1" role="dialog" aria-labelledby="NntpServerEditDialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Html.LocalizedText("ADMIN_EDITNNTPSERVER", Model.Id.HasValue ? "TITLE_EDIT" : "TITLE")
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Nntp" asp-action="EditServer" class="needs-validation">
                    <!-- Modal Content START !-->
                    <input asp-for="Id" type="hidden" value="@Model.Id" />
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label info-button="true" class="form-label"
                                   asp-for="Name"
                                   localized-tag="NNTP_NAME" localized-page="ADMIN_EDITNNTPSERVER"></label>
                            <input asp-for="Name"
                                   class="form-control" 
                                   required="required" />
                            <div class="invalid-feedback">
                                @Html.LocalizedText("ADMIN_EDITNNTPSERVER","MSG_SERVER_NAME")
                            </div>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label info-button="true" class="form-label"
                                   asp-for="Address"
                                   localized-tag="NNTP_ADRESS" localized-page="ADMIN_EDITNNTPSERVER"></label>
                            <input asp-for="Address"
                                   class="form-control" 
                                   required="required" />
                            <div class="invalid-feedback">
                                @Html.LocalizedText("ADMIN_EDITNNTPSERVER","MSG_SERVER_ADR")
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label info-button="true" class="form-label"
                               asp-for="Port"
                               localized-tag="NNTP_PORT" localized-page="ADMIN_EDITNNTPSERVER"></label>
                        <input asp-for="Port" class="form-control" type="number" />
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label info-button="true" class="form-label"
                                   asp-for="UserName"
                                   localized-tag="NNTP_USERNAME" localized-page="ADMIN_EDITNNTPSERVER"></label>
                            <input asp-for="UserName" class="form-control" />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label info-button="true" class="form-label"
                                   asp-for="UserPass"
                                   localized-tag="NNTP_PASSWORD" localized-page="ADMIN_EDITNNTPSERVER"></label>
                            <input asp-for="UserPass" class="form-control" />
                        </div>
                    </div>
                    <!-- Modal Content END !-->
                </form>
            </div>
            <div class="modal-footer">
                <button button-style="Primary" data-bs-save="editModal"
                        text-localized-tag="@(Model.Id.HasValue ? "SAVE": "TITLE")"
                        text-localized-page="ADMIN_EDITNNTPSERVER"
                        Icon="save">
                </button>
                <button type="button" button-style="Secondary" icon="times" data-bs-dismiss="modal" text-localized-tag="CANCEL"></button>
            </div>
        </div>
    </div>
</div>

<script>
     @Html.Raw(JsAndCssHelper.CompressJavaScript(JavaScriptBlocks.ModalNotifyJs()));
     @Html.Raw(JsAndCssHelper.CompressJavaScript(JavaScriptBlocks.FormValidatorJQueryJs()));
     
     @Html.Raw(JsAndCssHelper.CompressJavaScript(JavaScriptBlocks.ToolTipJs()));
</script>