@using Microsoft.AspNetCore.Mvc.TagHelpers
@using YAF.Core.Context
@using YAF.Core.Helpers
@using YAF.Core.Services
@using YAF.Core.Utilities
@using YAF.Types.Extensions
@using YAF.Types.Interfaces
@using YAF.Types.Interfaces.Services
@using YAF.Web.HtmlHelpers
@using YAF.Web.TagHelpers
@model YAF.Types.Modals.QuickReplyModal

@inject BoardContext Current

<!-- Modal -->
<div class="modal fade" id="QuickReplyDialog" tabindex="-1" role="dialog" aria-labelledby="quickReplyLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Html.LocalizedText("QUICKREPLY")
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="PostsModal" asp-action="Reply" asp-route-t="@Current.PageTopicID" asp-route-f="@Current.PageForumID">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <textarea asp-for="QuickReplyEditor"
                      class="form-control"
                      rows="15"
                      cols="100"
                      editor-mode="Basic"
                      users-can-upload="false"
                      maxlength="@Current.BoardSettings.MaxPostSize"
                      max-characters="@Current.BoardSettings.MaxPostSize"></textarea>
                    
                    @if ((Current.IsGuest && Current.BoardSettings.EnableCaptchaForGuests) || (Current.BoardSettings.EnableCaptchaForPost && !Current.PageUser.UserFlags.IsCaptchaExcluded))
                    {
                        <div class="mb-3">
                            <label asp-for="Captcha" class="form-control" localized-tag="Captcha_Image"></label>
                            <img alt="captcha" src="@(CaptchaHelper.GetCaptcha())" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="Captcha" class="form-control" localized-tag="Captcha_Enter"></label>
                            <input asp-for="Captcha" class="form-control" />
                        </div>
                    }
                    
                    @if (!Current.IsGuest)
                    {
                        <div class="form-check form-switch mt-3">
                            <input class="form-check-input" type="checkbox" role="switch" asp-for="TopicWatch">
                            <label class="form-check-label" asp-for="TopicWatch" localized-tag="TOPICWATCH"></label>
                        </div>
                    }
                </form>
            </div>
            <div class="modal-footer">
                <button button-style="Primary" data-bs-save="modal"
                        text-localized-tag="SAVE" text-localized-page="POSTMESSAGE"
                        Icon="reply">
                </button>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_CKEditorScriptsPartial")

@{
    var toolbar = Current.BoardSettings.EditorToolbarBasic;

    // remove albums
    toolbar = toolbar.Replace(", \"albumsbrowser\"", string.Empty);

    // remove attachments
    toolbar = toolbar.Replace(", \"attachments\"", string.Empty);

    var language = BoardContext.Current.PageUser.Culture.IsSet() ? BoardContext.Current.PageUser.Culture[..2] : Current.BoardSettings.Culture[..2];

    if (ValidationHelper.IsNumeric(language))
    {
        language = Current.BoardSettings.Culture;
    }
}

<script>
     @Html.Raw(JsAndCssHelper.CompressJavaScript(JavaScriptBlocks.ModalNotifyJs()));

    @Html.Raw(JsAndCssHelper.CompressJavaScript(JavaScriptBlocks.CKEditorQuickReplyLoadJs(
        "QuickReplyEditor", 
        language, 
        Current.BoardSettings.MaxPostSize, 
        Current.Get<ITheme>().BuildThemePath("bootstrap-forum.min.css"), 
        Current.Get<BoardInfo>().GetUrlToCss("forum.min.css"), 
        toolbar)));

</script>