@page "{handler?}"
@using YAF.Core.Context
@using YAF.Core.Extensions
@using YAF.Core.Helpers
@using YAF.Web.HtmlHelpers
@using YAF.Types.Constants
@using YAF.Types.Extensions
@using YAF.Types.Interfaces

@model NotificationModel

<form method="post">
    <div class="row">
        <div class="col-sm-auto">
            <profileMenu></profileMenu>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="card mb-3 mt-2" id="activity">
                        <div class="card-header">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-auto">
                                    @Html.IconHeader("bell", "NOTIFICATION", "YOUR_NOTIFIY")
                                </div>
                                <div class="col-auto">
                                    <div class="btn-toolbar" role="toolbar">
                                        <div class="input-group input-group-sm me-2" role="group">
                                            <div class="input-group-text">
                                                @Html.LocalizedText("SHOW"):
                                            </div>
                                            <select asp-for="@Model.Size"
                                                    asp-items="Model.PageSizeList"
                                                    title="@Html.LocalizedText("COMMON", "SHOW_TITLE")"
                                                    aria-label="@Html.LocalizedText("COMMON", "SHOW_TITLE")"
                                                    class="form-select"
                                                    onchange="this.form.submit();"></select>

                                        </div>
                                        <div class="btn-group" role="group" aria-label="Filters">
                                            <button button-style="Secondary"
                                                    button-size="Small"
                                                    class="dropdown-toggle"
                                                    bs-toggle="dropdown"
                                                    icon="filter"
                                                    text-localized-page="ADMIN_USERS"
                                                    text-localized-tag="FILTER_DROPDOWN"></button>
                                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                                                <div class="px-3 py-1">
                                                    <div class="mb-3">
                                                        <div class="form-check form-switch">
                                                            <input asp-for="WasMentioned" class="form-check-input" role="switch" switch />
                                                            <label asp-for="WasMentioned" class="form-check-label"
                                                                   localized-page="NOTIFICATION"
                                                                   localized-tag="WAS_MENTIONED">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="form-check form-switch">
                                                            <input asp-for="ReceivedThanks" class="form-check-input" role="switch" switch />
                                                            <label asp-for="ReceivedThanks" class="form-check-label"
                                                                   localized-page="NOTIFICATION"
                                                                   localized-tag="RECEIVED_THANKS">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="form-check form-switch">
                                                            <input asp-for="WasQuoted" class="form-check-input" role="switch" switch />
                                                            <label asp-for="WasQuoted" class="form-check-label"
                                                                   localized-page="NOTIFICATION"
                                                                   localized-tag="WAS_QUOTED">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="form-check form-switch">
                                                            <input asp-for="WatchForumReply" class="form-check-input" role="switch" switch />
                                                            <label asp-for="WatchForumReply" class="form-check-label"
                                                                   localized-page="NOTIFICATION"
                                                                   localized-tag="WATCH_FORUM_REPLY">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="form-check form-switch">
                                                            <input asp-for="WatchTopicReply" class="form-check-input" role="switch" switch />
                                                            <label asp-for="WatchTopicReply" class="form-check-label"
                                                                   localized-page="NOTIFICATION"
                                                                   localized-tag="WATCH_TOPIC_REPLY">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="form-check form-switch">
                                                            <input asp-for="BecomeFriends" class="form-check-input" role="switch" switch />
                                                            <label asp-for="BecomeFriends" class="form-check-label"
                                                                   localized-page="ACCOUNT"
                                                                   localized-tag="BECOME_FRIENDS">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <button type="submit"
                                                            text-localized-tag="UPDATE"
                                                            class="me-2"
                                                            button-style="Primary"
                                                            button-size="Small"
                                                            Icon="sync">
                                                    </button>
                                                    <button type="submit" 
                                                            asp-page-handler="Reset"
                                                            text-localized-tag="CLEAR"
                                                            button-style="Secondary"
                                                            button-size="Small"
                                                            Icon="trash">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (!Model.Notifications.NullOrEmpty())
                        {
                            <ul class="list-group list-group-flush">

                                @foreach (var activity in Model.Notifications)
                                {
                                    var message = string.Empty;
                                    var icon = string.Empty;
                                    var notify = activity.Item1.Notification ? "text-success" : "text-secondary";

                                    if (!activity.Item1.FromUserID.HasValue)
                                    {
                                        continue;
                                    }

                                    var userLink = Html.UserLink(activity.Item1.FromUserID.Value, activity.Item2.DisplayOrUserName(), activity.Item2.Suspended, activity.Item2.UserStyle);

                                    if (activity.Item3.ID is 0 && activity.Item1.ActivityFlags.BecomeFriends)
                                    {
                                        icon = "user-group";
                                        message = Model.Get<ILocalization>().GetTextFormatted("NOTIFICATION_BUDDYAPPROVED_MUTUAL", userLink.RenderToString());
                                    }
                                    else
                                    {
                                        if (!activity.Item1.MessageID.HasValue)
                                        {
	                                        continue;
                                        }

                                        var link = BoardContext.Current.Get<ILinkBuilder>().GetMessageLink(activity.Item3, activity.Item1.MessageID.Value);

                                        var topicLink = $"<a href=\"{link}\" role=\"button\"><i class=\"far fa-comment  me-1\"></i><span class=\"ms-1\">{activity.Item3.TopicName}</span></a>";

                                        if (activity.Item1.ActivityFlags.ReceivedThanks)
                                        {
                                            icon = "heart";
                                            message = Model.GetTextFormatted("RECEIVED_THANKS_MSG", userLink.RenderToString(), topicLink);
                                        }
                                        else if (activity.Item1.ActivityFlags.WasMentioned)
                                        {
                                            icon = "at";
                                            message = Model.GetTextFormatted("WAS_MENTIONED_MSG", userLink.RenderToString(), topicLink);
                                        }
                                        else if (activity.Item1.ActivityFlags.WasQuoted)
                                        {
                                            icon = "quote-left";
                                            message = Model.GetTextFormatted("WAS_QUOTED_MSG", userLink.RenderToString(), topicLink);
                                        }
                                        else if (activity.Item1.ActivityFlags.WatchForumReply)
                                        {
                                            icon = "comments";
                                            message = Model.GetTextFormatted("WATCH_FORUM_MSG", userLink.RenderToString(), topicLink);
                                        }
                                        else if (activity.Item1.ActivityFlags.WatchTopicReply)
                                        {
                                            icon = "comment";
                                            message = Model.GetTextFormatted("WATCH_TOPIC_MSG", userLink.RenderToString(), topicLink);
                                        }
                                    }

                                    <li class="list-group-item list-group-item-action">
                                        <span class="fa-stack">
                                            <i class="@($"fas fa-circle fa-stack-2x {notify}")"></i>
                                            <i class="@($"fas fa-{icon} fa-stack-1x fa-inverse")"></i>
                                        </span>

                                        @Html.Raw(message)

                                        @Html.IconBadge("calendar-day", "clock", "text-secondary")

                                        @Html.DisplayDateTime(DateTimeFormat.Both, activity.Item1.Created)

                                        @if (activity.Item1.Notification)
                                        {
                                            <button button-style="Secondary"
                                                    button-size="Small"
                                                    class="float-end"
                                                    text-localized-tag="MARK_ASREAD"
                                                    asp-page-handler="MarkRead"
                                                    asp-route-id="@activity.Item1.MessageID.Value"
                                                    Icon="glasses">
                                            </button>
                                        }

                                    </li>
                                }

                            </ul>
                        }
                        else
                        {
                            <div class="card-body">
	                            @await Html.PartialAsync("_NoEntryInfo")
                            </div>
                        }

                        <div class="card-footer">
                            <div class="row justify-content-end align-items-center">
                                <div class="col-auto">
                                    <div class="btn-group" role="group" aria-label="Tools">
                                        <button asp-page-handler="MarkAll"
                                                text-localized-tag="MARK_ALL_ASREAD" text-localized-page="DEFAULT"
                                                button-style="Secondary"
                                                button-size="Small"
                                                Icon="glasses"></button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-auto">
                    <pager page-size="@Model.Size"
                           count="Model.NotificationsCount">
                    </pager>
                </div>
            </div>
        </div>
    </div>
</form>