@page "{m:int}/{handler?}"
@using YAF.Types.Constants
@using YAF.Types.Extensions
@using YAF.Types.Interfaces
@using YAF.Web.HtmlHelpers
@model DeleteMessageModel

@{
    Model.PageBoardContext.CurrentForumPage.PageTitle = Html.Encode(Model.Get<ILocalization>().GetText(Model.PageBoardContext.PageMessage.MessageFlags.IsDeleted ? "UNDELETE" : "DELETE"));
}

<div class="row">
    <div class="col-xl-12">
        <h2>@Html.LocalizedText(Model.PageBoardContext.PageMessage.MessageFlags.IsDeleted ? "UNDELETE" : "DELETE")</h2>
    </div>
</div>

    <form method="post" class="needs-validation" novalidate>
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header">
                    @Html.IconStack("comment", "text-secondary", "trash", "fa-inverse", "fa-1x")
                    @Html.LocalizedText("SUBJECT")&nbsp;@Html.Raw(Model.PageBoardContext.PageTopic.TopicName)
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        @Html.LocalizedText("previewtitle")
                        <div class="card text-bg-light-subtle">
                            <div class="card-body">
                                <message current-message="@Model.PageBoardContext.PageMessage" 
                                         message-id="@Model.PageBoardContext.PageMessage.ID" 
                                         message-flags="@Model.DeleteMessageFlags"></message>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-check-label" asp-for="ReasonEditor">@Html.LocalizedText(Model.PageBoardContext.PageMessage.MessageFlags.IsDeleted ? "UNDELETE_REASON" : "DELETE_REASON")</label>
                        <input type="text" asp-for="ReasonEditor" class="form-control" maxlength="100" required="required"/>
                        <div class="invalid-feedback">
                            @Html.LocalizedText("NEED_REASON")
                        </div>
                    </div>

                    @if (!Model.PageBoardContext.PageMessage.MessageFlags.IsDeleted && Model.PageBoardContext.IsAdmin)
                    {
                        <div class="mb-3">
                            <div class="form-check form-switch">
                                <input asp-for="EraseMessage" class="form-check-input" type="checkbox"/>
                                <label class="form-check-label" asp-for="EraseMessage" localized-tag="ERASEMESSAGE"></label>
                            </div>
                        </div>
                    }
                
                
                    @if (Model.PageBoardContext.ForumModeratorAccess || Model.PageBoardContext.IsAdmin)
                    {
                        <div class="mb-3">
                            <div class="form-check form-switch">
                                <input asp-for="DeleteAllPosts" class="form-check-input" type="checkbox"  />
                                <label class="form-check-label" asp-for="DeleteAllPosts" localized-tag="DELETE_ALL" localized-page="DELETEMESSAGE"></label>
                            </div>
                        </div>
                    }
                </div>
                <div class="card-footer text-center">
                    @if (Model.PageBoardContext.PageMessage.MessageFlags.IsDeleted)
                    {
                        <button type="submit" asp-page-handler="Restore" asp-route-m="@Model.PageBoardContext.PageMessage.ID"
                                id="restore"
                                button-style="Warning"
                                icon="trash-arrow-up"
                                text-localized-tag="UNDELETE" title-localized-tag="UNDELETE_TT"></button>
                    }
                    else
                    {
                        <button type="submit"
                                asp-route-m="@Model.PageBoardContext.PageMessage.ID" 
                                asp-page-handler="Delete"
                                button-style="Danger"
                                icon="trash"
                                text-localized-tag="DELETE"
                                title-localized-tag="DELETE_TT"
                                bs-toggle="tooltip"></button>
                    }

                    <a role="button"
                       href="@Html.Raw(Model.Get<ILinkBuilder>().GetMessageLink(Model.PageBoardContext.PageTopic, Model.PageBoardContext.PageMessage.ID))"
                       button-style="Secondary"
                       icon="reply"
                       text-localized-page="COMMON"
                       text-localized-tag="CANCEL"></a>
                </div>
            </div>
        </div>
    </div>

    @if (!Model.LinkedPosts.NullOrEmpty())
    {
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">
                        @Html.IconStack("comment", "text-secondary", "trash", "fa-inverse", "fa-1x")
                    </div>
                    <div class="card-body">
                        @foreach (var message in Model.LinkedPosts)
                        {
                            <div class="card my-3">
                                <div class="card-body">
                                    <div class="card-title h5">
                                        <footer class="blockquote-footer">
                                            @Html.UserLink(message.User)
                                            <small class="text-body-secondary">
                                                @Html.IconBadge("calendar-day", "clock")
                                                @Html.DisplayDateTime(DateTimeFormat.Both, message.Posted)
                                            </small>
                                        </footer>
                                    </div>
                                    <div class="card-text">
                                        <messagePostData current-message="@message"
                                                         show-attachments="false"
                                                         show-signature="false"></messagePostData>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptPartial")
}