@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using YAF.Types.Extensions
@using YAF.Types.Interfaces
@using YAF.Web.HtmlHelpers
@using YAF.Web.TagHelpers
@model PostPrivateMessageModel

@section StyleSheets {

    @if (Model.PageBoardContext.BoardSettings.AllowPrivateMessageAttachments)
    {
        @await Html.PartialAsync("_FileUploadStylesSheetsPartial")
    }
}

<div class="row">
    <div class="col-xl-12">
        <h2>
            @Html.LocalizedText("TITLE")
        </h2>
    </div>
</div>

<form method="post">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="card mb-3">
                        <div class="card-header">
                            @Html.IconHeader("envelope-open-text","PMESSAGE","TITLE")
                        </div>
                        <div class="card-body">
                            @if (Model.PreviewMessage.IsSet())
                            {
                                <div class="mb-3">
                                    @Html.LocalizedText("previewtitle")

                                    <message message="@Model.PreviewMessage" show-signature="false"></message>
                                    
                                </div>
                            }

                            <div class="input-group" role="group" aria-label="@(Model.GetText("TO"))">
                                @if (Model.ToVisible)
                                {
                                    <input asp-for="To" class="form-control" type="text" placeholder="@(Model.GetText("TO"))" value="@Model.To" />
                                }
                                @if (Model.ToListVisible)
                                {
                                    <select asp-for="ToListValue" asp-items="Model.ToList" class="form-select">
                                    </select>
                                }
                                @if (Model.FindUsers)
                                {
                                    <button button-size="Small"
                                            asp-page-handler="FindUsers"
                                            text-localized-tag="FINDUSERS"
                                            button-style="Secondary"
                                            Icon="search"></button>
                                }
                                
                                @if (Model.AllUsers)
                                {
                                    <button button-size="Small"
                                            asp-page-handler="AllUsers"
                                            text-localized-tag="ALLUSERS"
                                            button-style="Secondary"
                                            Icon="users"></button>
                                }
                                
                                @if (Model.AllBuddies)
                                {
                                    <button button-size="Small"
                                            asp-page-handler="AllBuddies"
                                            text-localized-tag="ALLBUDDIES"
                                            button-style="Secondary"
                                            Icon="user-friends"></button>
                                }
                                
                                @if (Model.Clear)
                                {
                                    <button button-size="Small"
                                            asp-page-handler="Clear"
                                            text-localized-tag="CLEAR"
                                            button-style="Danger"
                                            Icon="times"></button>
                                }
                            </div>

                            @if (Model.MultiReceiverAlert)
                            {
                                <alert type="info" icon="info-circle">
                                    @($"{Model.GetTextFormatted("MAX_RECIPIENT_INFO", Model.PageBoardContext.BoardSettings.PrivateMessageMaxRecipients)} {Model.GetText("MULTI_RECEIVER_INFO")}")
                                </alert>
                            }
                           
                            <div class="mb-3">
                                <label localized-page="PMESSAGE" localized-tag="SUBJECT" asp-for="Subject" class="form-label"></label>
                                <input type="text" class="form-control" asp-for="Subject" value="@Model.Subject" maxlength="100"/>
                            </div>
                            <div class="mb-3">
                                <label localized-page="PMESSAGE" localized-tag="MESSAGE" asp-for="Editor" class="form-label"></label>
                                <textarea asp-for="Editor"
                                          class="form-control"
                                          rows="15"
                                          cols="100"
                                          editor-mode="Standard"
                                          users-can-upload="@(Model.PageBoardContext.BoardSettings.AllowPrivateMessageAttachments)"
                                          maxlength="@Model.PageBoardContext.BoardSettings.MaxPostSize"
                                          max-characters="@Model.PageBoardContext.BoardSettings.MaxPostSize"></textarea>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button text-localized-tag="PREVIEW"
                                    asp-page-handler="Preview"
                                    Icon="image"
                                    button-style="Secondary"></button>
                            <button text-localized-tag="SAVE"
                                    asp-page-handler="Save"
                                    asp-route-p="@Request.Query["p"].ToString()"
                                    asp-route-report="@Request.Query["report"].ToString()"
                                    Icon="save"
                                    button-style="Primary"></button>
                            <button text-localized-tag="CANCEL"
                                    asp-page-handler="Cancel"
                                    Icon="times"
                                    button-style="Secondary"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@if (Model.PageBoardContext.BoardSettings.AllowPrivateMessageAttachments)
{
    @await Html.PartialAsync("Dialogs/_AttachmentUpload")
}

@section Scripts {
    @await Html.PartialAsync("_CKEditorScriptsPartial")

    @if (Model.PageBoardContext.BoardSettings.AllowPrivateMessageAttachments)
    {
        @await Html.PartialAsync("_FileUploadScriptsPartial")
    }
}