@page "{p:int=1}/{handler?}"

@using YAF.Core.Extensions
@using YAF.Web.HtmlHelpers
@using YAF.Types.Extensions
@using YAF.Types.Interfaces
@using YAF.Types.Models

@model YAF.Pages.Profile.AttachmentsModel

<div class="row">
	<div class="col-sm-auto">
		<profileMenu></profileMenu>
	</div>
	<div class="col">
		<div class="row">
			<div class="col">
				<div class="card mb-3">
					<div class="card-header">
						<div class="row justify-content-between align-items-center">
							<div class="col-auto">
								@Html.IconHeader("paperclip", "ATTACHMENTS", "TITLE")
							</div>
							<div class="col-auto">
								<form method="post">
									<div class="input-group input-group-sm me-2" role="group">
										<div class="input-group-text">
											@Html.LocalizedText("SHOW"):
										</div>
                                  
										<select asp-for="@Model.Size"
										        asp-items="Model.PageSizeList"
										        title="@Html.LocalizedText("COMMON", "SHOW_TITLE")"
										        aria-label="@Html.LocalizedText("COMMON", "SHOW_TITLE")"
										        class="form-select"
										        onchange="this.form.submit();"></select>
                                  
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="card-body">
						<form method="post">
							<ul class="list-group list-group-flush">
								@for (var i = 0; i < Model.Attachments.Count; i++)
								{
									<li class="list-group-item d-inline-flex align-items-center">
										<input type="hidden" asp-for="@Model.Attachments[i].ID" />

										<div class="form-check">
											<input asp-for="@Model.Attachments[i].Selected" class="form-check-input" title="@Model.GetText("SELECT")"/>
											<label class="form-check-label" asp-for="@Model.Attachments[i].Selected">
												&nbsp;
											</label>
										</div>

										@Model.GetPreviewImage(Model.Attachments[i])
										<span class="text-truncate">
											@Model.Attachments[i].FileName <em>(@Model.Attachments[i].Bytes/1024kb)</em>
										</span>
									</li>
								}
							</ul>
							@if (Model.Attachments.HasItems())
							{
								<button asp-page-handler="DeleteSelected"
								        class=" m-3"
								        button-style="Danger"
								        icon="trash"
								        title-localized-page="COMMON"
								        title-localized-tag="BUTTON_DELETEATTACHMENT_TT"
								        text-localized-page="COMMON"
								        text-localized-tag="BUTTON_DELETEATTACHMENT"
								        return-confirm-tag="CONFIRM_DELETE"></button>
							}
						</form>
						<pager page-size="@Model.Size"
						       count="!Model.Attachments.NullOrEmpty() ?
							       Model.GetRepository<Attachment>().Count(a => a.UserID == Model.PageBoardContext.PageUserID).ToType<int>() : 0">
						</pager>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@await Html.PartialAsync("_PostScriptsPartial")
}