@page "{p:int=1}/{p2:int=1}/{handler?}"
@model AdminModel
@using YAF.Types.Interfaces
@using YAF.Types.Interfaces.Services
@using YAF.Types.Constants
@using YAF.Core.Helpers
@using YAF.Types.Extensions
@using YAF.Web.HtmlHelpers

@section StyleSheets {
	@await Html.PartialAsync("_FlagIconsStylesSheetsPartial")
}

<form method="post">
	<div class="row">
		<div class="col-xl-12">
			<h1>@Html.LocalizedText("ADMIN_ADMIN", "TITLE")</h1>
		</div>
	</div>

@if (Model.UpdateHighlight.IsSet())
{
	<alert type="info">
		<h6 class="alert-heading">
			@Html.Icon("box-open", "text-info")
			@Html.LocalizedText("NEW_VERSION")
			<a text-localized-tag="UPGRADE_VERSION"
			   button-style="Info"
			   Icon="cloud-download-alt"
			   href="@Html.Raw(Model.UpdateHighlight)"></a>
		</h6>
	</alert>
}

<div class="row">
	<div class="col-xl-12">
		<div class="card mb-3">
			<div class="card-header">
				@Html.IconHeader("tachometer-alt", "ADMIN_ADMIN", "HEADER3")
				<strong>@(Model.PageBoardContext.BoardSettings.Name)</strong>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-xl-3 col-lg-6">
						<div class="card stats-card mb-4">
							<div class="card-body">
								<div class="row">
									<div class="col">
										<h5 class="card-title text-uppercase text-body-secondary mb-0">
											@Html.LocalizedText("ADMIN_ADMIN", "NUM_CATEGORIES")
										</h5>
										<span class="h2 fw-bold mb-0 text-info">
											@Model.Input.NumCategories
										</span>
									</div>
									<div class="col-auto">
										<span class="fa-stack fa-2x" style="vertical-align: top;">
											<i class="fas fa-circle fa-stack-2x"></i>
											<i class="fas fa-folder fa-stack-1x fa-inverse text-info"></i>
										</span>
									</div>
								</div>
								<p class="mt-3 mb-0 text-body-secondary small">&nbsp;</p>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6">
						<div class="card stats-card mb-4">
							<div class="card-body">
								<div class="row">
									<div class="col">
										<h5 class="card-title text-uppercase text-body-secondary mb-0">
											@Html.LocalizedText("ADMIN_ADMIN", "NUM_FORUMS")
										</h5>
										@if (Model.PageBoardContext.PageUser.DarkMode)
										{
											<span class="h2 fw-bold mb-0 text-light">
												@Model.Input.NumForums
											</span>
										}
										else
										{
											<span class="h2 fw-bold mb-0 text-dark">
												@Model.Input.NumForums
											</span>
										}

									</div>
									<div class="col-auto">
										<span class="fa-stack fa-2x" style="vertical-align: top;">
											<i class="fas fa-circle fa-stack-2x"></i>

											@if (Model.PageBoardContext.PageUser.DarkMode)
											{
												<i class="fas fa-comments fa-stack-1x fa-inverse text-dark"></i>
											}
											else
											{
												<i class="fas fa-comments fa-stack-1x fa-inverse text-light"></i>
											}
										</span>
									</div>
								</div>
								<p class="mt-3 mb-0 text-body-secondary small">&nbsp;</p>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6">
						<div class="card stats-card mb-4">
							<div class="card-body">
								<div class="row">
									<div class="col">
										<h5 class="card-title text-uppercase text-body-secondary mb-0">
											@Html.LocalizedText("ADMIN_ADMIN", "NUM_TOPICS")
										</h5>
										<span class="h2 fw-bold mb-0 text-secondary">
											@Model.Input.NumTopics
										</span>
									</div>
									<div class="col-auto">
										<span class="fa-stack fa-2x" style="vertical-align: top;">
											<i class="fas fa-circle fa-stack-2x"></i>
											<i class="fas fa-comments fa-stack-1x fa-inverse text-secondary"></i>
										</span>
									</div>
								</div>
								<p class="mt-3 mb-0 text-body-secondary small">
									@Html.LocalizedText("ADMIN_ADMIN", "TOPICS_DAY")
									<span class="text-nowrap">
										@Model.Input.DayTopics
									</span>
								</p>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6">
						<div class="card stats-card mb-4">
							<div class="card-body">
								<div class="row">
									<div class="col">
										<h5 class="card-title text-uppercase text-body-secondary mb-0">
											@Html.LocalizedText("ADMIN_ADMIN", "NUM_POSTS")
										</h5>
										<span class="h2 fw-bold mb-0 text-primary">
											@Model.Input.NumPosts
										</span>
									</div>
									<div class="col-auto">
										<span class="fa-stack fa-2x" style="vertical-align: top;">
											<i class="fas fa-circle fa-stack-2x"></i>
											<i class="fas fa-comment fa-stack-1x fa-inverse text-primary"></i>
										</span>
									</div>
								</div>
								<p class="mt-3 mb-0 text-body-secondary small">
									@Html.LocalizedText("ADMIN_ADMIN", "POSTS_DAY")
									<span class="text-nowrap">
										@Model.Input.DayPosts
									</span>
								</p>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6">
						<div class="card stats-card mb-4">
							<div class="card-body">
								<div class="row">
									<div class="col">
										<h5 class="card-title text-uppercase text-body-secondary mb-0">
											@Html.LocalizedText("ADMIN_ADMIN", "NUM_USERS")
										</h5>
										<span class="h2 fw-bold mb-0 text-success">
											@Model.Input.NumUsers
										</span>
									</div>
									<div class="col-auto">
										<span class="fa-stack fa-2x" style="vertical-align: top;">
											<i class="fas fa-circle fa-stack-2x"></i>
											<i class="fas fa-users fa-stack-1x fa-inverse text-success"></i>
										</span>
									</div>
								</div>
								<p class="mt-3 mb-0 text-body-secondary small">
									@Html.LocalizedText("ADMIN_ADMIN", "USERS_DAY")
									<span class="text-nowrap">
										@Model.Input.DayUsers
									</span>
								</p>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6">
						<div class="card stats-card mb-4">
							<div class="card-body">
								<div class="row">
									<div class="col">
										<h5 class="card-title text-uppercase text-body-secondary mb-0">
											@Html.LocalizedText("ADMIN_ADMIN", "BOARD_STARTED")
										</h5>
										<span class="h2 fw-bold mb-0 text-warning">
											@Html.DisplayDateTime(DateTimeFormat.BothTopic, Model.Input.BoardStartAgo)
										</span>
									</div>
									<div class="col-auto">
										<span class="fa-stack fa-2x" style="vertical-align: top;">
											<i class="fas fa-circle fa-stack-2x"></i>
											<i class="fas fa-globe fa-stack-1x fa-inverse text-warning"></i>
										</span>
									</div>
								</div>
								<p class="mt-3 mb-0 text-body-secondary small">
									<span class="text-nowrap">
										@Model.Input.BoardStart
									</span>
								</p>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6">
						<div class="card stats-card mb-4">
							<div class="card-body">
								<div class="row">
									<div class="col">
										<h5 class="card-title text-uppercase text-body-secondary mb-0">
											@Html.LocalizedText("ADMIN_ADMIN", "SIZE_DATABASE")
										</h5>
										<span class="h2 fw-bold mb-0 text-danger">
											@Model.Input.DBSize
										</span>
									</div>
									<div class="col-auto">
										<span class="fa-stack fa-2x" style="vertical-align: top;">
											<i class="fas fa-circle fa-stack-2x"></i>
											<i class="fas fa-database fa-stack-1x fa-inverse text-danger"></i>
										</span>
									</div>
								</div>
								<p class="mt-3 mb-0 text-body-secondary small">&nbsp;</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer text-body-secondary">
				@Html.LocalizedText("ADMIN_ADMIN", "STATS_DONTCOUNT")
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xl-12">
		<div class="card mb-3">
			<div class="card-header">
				@Html.IconHeader("chart-pie", "ADMIN_ADMIN", "STATS_TITLE")
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-xl-2 col-lg-6">
						<div class="card mb-3">
							<div class="card-body">
								<div class="chart-container">
									<canvas id="chart-browsers"
									        data-url="@(Model.Get<IUrlHelper>().Action("GetUserStats", "Stats"))"
									        data-label="@(Model.GetText("BROWSER"))"
									        data-title="@(Model.GetText("ADMIN_ADMIN", "BROWSER"))"></canvas>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-6">
						<div class="card mb-3">
							<div class="card-body">
								<div class="chart-container">
									<canvas id="chart-platforms"
									        data-label="@(Model.GetText("PLATFORM"))"
									        data-title="@(Model.GetText("ADMIN_ADMIN", "PLATFORM"))"></canvas>
								</div>
							</div>
						</div>
					</div>

					@if (Model.Get<IGeoIpCountryService>().DatabaseExists())
					{
						<div class="col-xl-2 col-lg-6">
							<div class="card mb-3">
								<div class="card-body">
									<div class="chart-container">
										<canvas id="chart-countries"
										        data-label="@(Model.GetText("ADMIN_ADMIN", "COUNTRY"))"
										        data-title="@(Model.GetText("ADMIN_ADMIN", "COUNTRIES"))"></canvas>
									</div>
								</div>
							</div>
						</div>
					}

					<div class="col-xl-5 col-lg-6">
						<div class="card mb-3">
							<div class="card-body">
								<div class="chart-container">
									<canvas id="chart-registrations"
									        data-label="@(Model.GetText("ADMIN_ADMIN", "REGISTRATIONS"))"
									        data-title="@(Model.GetText("ADMIN_ADMIN", "REGISTRATIONS_TITLE"))"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="row">
	<div class="col">
		<div class="card mb-3">
			<div class="card-header">
				<div class="row justify-content-between align-items-center">
					<div class="col-auto">
						@Html.IconHeader("users", "ADMIN_ADMIN", "HEADER1")
					</div>
					<div class="col-auto">
						<div class="input-group input-group-sm me-2" role="group">
							<div class="input-group-text">
								@Html.LocalizedText("SHOW"):
							</div>

							<select asp-for="@Model.Size"
							        asp-items="Model.PageSizeList"
							        title="@Html.LocalizedText("COMMON", "SHOW_TITLE")"
							        aria-label="@Html.LocalizedText("COMMON", "SHOW_TITLE")"
							        class="form-select"
							        onchange="this.form.submit();"></select>

						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				@if (!Model.ActiveUserList.NullOrEmpty())
				{
					<ul class="list-group">

						@foreach (var activeUser in Model.ActiveUserList)
						{
							var ipAddress = IPHelper.GetIpAddressAsString(activeUser.IP);

							<li class="list-group-item list-group-item-action list-group-item-menu">
								<div class="d-flex w-100 justify-content-between text-break">
									<h5 class="mb-1">
										@Html.UserLabel(
											Model.PageBoardContext.BoardSettings.EnableDisplayName ? activeUser.UserDisplayName : activeUser.UserName,
											activeUser.UserStyle,
											activeUser.ActiveFlags.IsCrawler ? activeUser.Browser : string.Empty)
									</h5>
									<small>
										<div class="btn-group btn-group-sm">
											<a href="@Html.Raw(string.Format(Model.PageBoardContext.BoardSettings.IPInfoPageURL, ipAddress))"
											   button-style="Info"
											   button-size="Small"
											   target="_blank" title-localized-tag="TT_IPDETAILS" title-localized-page="COMMON"
											   rel="noopener">
												@Html.Icon("computer")@Html.Raw(ipAddress) (@Model.CountRequests(activeUser.IP))
											</a>
											<button button-style="Danger"
											        button-size="Small"
											        asp-page-handler="BanIp"
											        asp-route-mask="@Html.Raw(ipAddress)"
											        asp-route-p="@Model.Request.RouteValues["p"]"
											        asp-route-p2="@Model.Request.RouteValues["p2"]"
											        text-localized-page="ADMIN_BANNEDIP_EDIT"
											        text-localized-tag="TITLE"
											        Icon="edit"></button>
										</div>

									</small>
								</div>
								<p>
									<span data-bs-toggle="tooltip" data-bs-title="@Html.LocalizedText("ADMIN_ADMIN", "BOARD_LOCATION")">
										@Html.Icon("file-lines")@Html.ActiveLocation(activeUser.UserID,
											                        false,
											                        activeUser.ForumPage,
											                        activeUser.Path,
											                        activeUser.ForumID ?? 0,
											                        activeUser.ForumName,
											                        activeUser.TopicID ?? 0,
											                        activeUser.TopicName,
											                        false)
										(@activeUser.Path)
									</span>

									@if (activeUser.Country.IsSet() && !activeUser.Country.Equals("--"))
									{
										@Html.Icon("globe")
										<span class="@($"fi fi-{activeUser.Country.ToLower()}")" title="@(Model.GetText("COUNTRY", activeUser.Country))"></span>
									}

								</p>
								<small>
									<span>
										@Html.Icon("user-secret")
										@activeUser.UserAgent
									</span>
									<span>
										@Html.Icon("file-lines")
										@activeUser.Referer
									</span>
								</small>
								<div class="dropdown-menu context-menu" aria-labelledby="context menu">
									<button button-style="None"
									        class="dropdown-item"
									        bs-toggle="ajax-modal"
									        bs-target-url="@(Url.Page("BannedIps", "Edit", new { mask = ipAddress }))"
									        text-localized-page="ADMIN_BANNEDIP_EDIT"
									        text-localized-tag="TITLE"
									        Icon="edit"></button>
								</div>
							</li>
						}

					</ul>
				}
			</div>
		</div>
	</div>
</div>

<div class="row justify-content-end">
	<div class="col-auto">
		<pager page-size="@Model.Size"
		       count="@Model.ActiveUserList.HasItems() ? Model.ActiveUserList[0].UserCount : 0"
		       query-name="p">
		</pager>
	</div>
</div>


<div class="row">
	<div class="col-xl-12">
		<div class="card mb-3">
			<div class="card-header">
				<div class="row justify-content-between align-items-center">
					<div class="col-auto">
						@Html.IconHeader("user-plus", "ADMIN_ADMIN", "HEADER2")
					</div>
					<div class="col-auto">
						<div class="input-group input-group-sm me-2" role="group">
							<div class="input-group-text">
								@Html.LocalizedText("SHOW"):
							</div>
							<select asp-for="@Model.Input.UnverifiedPageSize"
							        asp-items="Model.UnverifiedPageSizeList"
							        title="@Html.LocalizedText("COMMON", "SHOW_TITLE")"
							        aria-label="@Html.LocalizedText("COMMON", "SHOW_TITLE")"
							        class="form-select"
							        onchange="this.form.submit();"></select>
						</div>
					</div>
				</div>
			</div>

			@if (!Model.UserList.NullOrEmpty())
			{
				<div class="card-body">
					<ul class="list-group">
						@foreach (var user in Model.UserList)
						{
							<li class="list-group-item list-group-item-action list-group-item-menu d-flex justify-content-between align-items-start">
								<div class="align-items-baseline">
									<div class="me-2">
										<span class="fw-bold">
											@Model.HtmlEncode(Model.PageBoardContext.BoardSettings.EnableDisplayName ? user.DisplayName : user.Name)
										</span>
									</div>
									<div class="me-2">
										<span class="fw-bold">
											@Html.LocalizedText("ADMIN_ADMIN", "ADMIN_JOINED"):
										</span>
										@Html.Raw(Model.Get<IDateTimeService>().FormatDateTime(user.Joined))
									</div>
									<div>
										<span class="fw-bold">
											@Html.LocalizedText("ADMIN_ADMIN", "ADMIN_EMAIL"):
										</span>
										@user.Email
									</div>
								</div>
								<small>
									<button class="dropdown-toggle"
									        button-style="Secondary"
									        button-size="Small"
									        bs-toggle="dropdown"
									        aria-label="@Model.GetText("TOOLS")"
									        Icon="ellipsis-v"></button>
									<div class="dropdown-menu">
										<a asp-page="@ForumPages.Admin_EditUser.GetPageName()"
										   asp-route-u="@Html.Raw(user.ID)"
										   Icon="user-edit"
										   text-localized-tag="EDITUSER"
										   button-style="None"
										   class="dropdown-item">
										</a>
										<button asp-page-handler="ResendEmail"
										        asp-route-id="@Html.Raw(user.ID)"
										        asp-route-p="@Model.Request.RouteValues["p"]"
										        asp-route-p2="@Model.Request.RouteValues["p2"]"
										        Icon="share"
										        text-localized-tag="ADMIN_RESEND_EMAIL"
										        button-style="None"
										        class="dropdown-item">
										</button>
										<button asp-page-handler="Approve"
										        asp-route-id="@Html.Raw(user.ID)"
										        asp-route-p="@Model.Request.RouteValues["p"]"
										        asp-route-p2="@Model.Request.RouteValues["p2"]"
										        button-style="None"
										        class="dropdown-item"
										        Icon="check"
										        text-localized-tag="ADMIN_APPROVE">
										</button>
										<button asp-page-handler="Delete"
										        asp-route-id="@Html.Raw(user.ID)"
										        asp-route-p="@Model.Request.RouteValues["p"]"
										        asp-route-p2="@Model.Request.RouteValues["p2"]"
										        button-style="None"
										        class="dropdown-item"
										        return-confirm-tag="CONFIRM_DELETE"
										        Icon="trash"
										        text-localized-tag="ADMIN_DELETE">
										</button>
									</div>
								</small>
								<div class="dropdown-menu context-menu" aria-labelledby="context menu">
									<a asp-page="@ForumPages.Admin_EditUser.GetPageName()"
									   asp-route-u="@Html.Raw(user.ID)"
									   Icon="user-edit"
									   text-localized-tag="EDITUSER"
									   button-style="None"
									   class="dropdown-item">
									</a>
									<button asp-page-handler="ResendEmail"
									        asp-route-id="@Html.Raw(user.ID)"
									        asp-route-p="@Model.Request.RouteValues["p"]"
									        asp-route-p2="@Model.Request.RouteValues["p2"]"
									        Icon="share"
									        text-localized-tag="ADMIN_RESEND_EMAIL"
									        button-style="None"
									        class="dropdown-item">
									</button>
									<button asp-page-handler="Approve"
									        asp-route-id="@Html.Raw(user.ID)"
									        asp-route-p="@Model.Request.RouteValues["p"]"
									        asp-route-p2="@Model.Request.RouteValues["p2"]"
									        button-style="None"
									        class="dropdown-item"
									        Icon="check"
									        text-localized-tag="ADMIN_APPROVE">
									</button>
									<button asp-page-handler="Delete"
									        asp-route-id="@Html.Raw(user.ID)"
									        asp-route-p="@Model.Request.RouteValues["p"]"
									        asp-route-p2="@Model.Request.RouteValues["p2"]"
									        button-style="None"
									        class="dropdown-item"
									        return-confirm-tag="CONFIRM_DELETE"
									        Icon="trash"
									        text-localized-tag="ADMIN_DELETE">
									</button>
								</div>
							</li>
						}

					</ul>
				</div>
				<div class="card-footer">
					<div class="d-lg-flex">
						<div>
							<button asp-page-handler="ApproveAll"
							        asp-route-p="@Model.Request.RouteValues["p"]"
							        asp-route-p2="@Model.Request.RouteValues["p2"]"
							        button-style="Primary"
							        Icon="check"
							        text-localized-tag="APROVE_ALL"
							        class="mb-1"
							        return-confirm-tag="CONFIRM_APROVE_ALL"></button>
							<button asp-page-handler="DeleteAll"
							        asp-route-p="@Model.Request.RouteValues["p"]"
							        asp-route-p2="@Model.Request.RouteValues["p2"]"
							        button-style="Danger"
							        Icon="trash"
							        text-localized-tag="DELETE_ALL"
							        return-confirm-tag="CONFIRM_DELETE_ALL"
							        class="me-1 mb-1"></button>
						</div>
						<div>
							<input type="number" asp-for="Input.DaysOld" placeholder="@Model.GetText("DELETE_ALL")"
							       class="form-control"/>
						</div>
					</div>
				</div>
			}
			else
			{
				<div class="card-body">
					@await Html.PartialAsync("_NoEntryInfo")
				</div>
			}
		</div>
	</div>
</div>
<div class="row justify-content-end">
	<div class="col-auto">
		<pager page-size="@Model.Input.UnverifiedPageSize"
		       count="@Model.Input.UnverifiedCount"
		       query-name="p2">
		</pager>
	</div>
</div>
</form>

@section Scripts {
	<script src="~/js/admin-dashboard.min.js" asp-append-version="true"></script>
}