@page "{p:int=1}/{handler?}"
@model AttachmentsModel
@using YAF.Types.Interfaces
@using YAF.Types.Constants
@using YAF.Types.Extensions
@using YAF.Types.Interfaces.Services
@using YAF.Web.HtmlHelpers

<form method="post">
	<div class="row">
		<div class="col-xl-12">
			<div class="card mb-3">
				<div class="card-header">
					<div class="row justify-content-between align-items-center">
						<div class="col-auto">
							@Html.IconHeader("paperclip","ADMIN_ATTACHMENTS","TITLE")
						</div>
						<div class="col-auto">
							<div class="btn-toolbar" role="toolbar">
								<div class="input-group input-group-sm me-2" role="group">
									<div class="input-group-text">
										@Html.LocalizedText("SHOW"):
									</div>
									<select asp-for="@Model.Size"
									        asp-items="Model.PageSizeList"
									        title="@Html.LocalizedText("COMMON", "SHOW_TITLE")"
									        aria-label="@Html.LocalizedText("COMMON", "SHOW_TITLE")"
									        class="form-select"
									        onchange="this.form.submit();"></select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					@if (!Model.List.NullOrEmpty())
					{
						<ul class="list-group">
							@foreach (var t in Model.List)
							{
								<li class="list-group-item list-group-item-action list-group-item-menu">
									<div class="d-flex w-100 justify-content-between text-break">
										<h5 class="mb-1">
											@Html.Raw(Model.GetPreviewImage(t.Item2))
											@Html.Raw(t.Item2.FileName)
										</h5>
										<small class="d-none d-md-block">
											@Html.LocalizedText("USAGES")
											<span class="badge text-bg-secondary">
												@Html.Raw(Model.Get<ISearch>().CountHits($"]{t.Item2.ID}["))
											</span>
										</small>
									</div>
									<p><strong>@Html.LocalizedText( "DELETEMESSAGE","FROM")</strong>
										@Html.UserLink(t.Item1)
									</p>
									<small>
										<div class="btn-group btn-group-sm">
											<a asp-route-search="@($"]{t.Item2.ID}[")"
											   asp-page="@ForumPages.Search.GetPageName()"
											   button-style="@ButtonStyle.Info"
											   text-localized-tag="SHOW_TOPICS">
											</a>
											<button button-style="@ButtonStyle.Danger"
											        button-size="@ButtonSize.Small"
											        asp-page-handler="Delete"
											        asp-route-id="@t.Item2.ID"
											        return-confirm-tag="CONFIRM_DELETE"
											        Icon="trash"
											        text-localized-tag="DELETE">
											</button>
										</div>
									</small>
									<div class="dropdown-menu context-menu" aria-labelledby="context menu">
										<a asp-route-search="@($"]{t.Item2.ID}[")"
										   class="dropdown-item"
										   asp-page="@ForumPages.Search.GetPageName()"
										   button-style="@ButtonStyle.None"
										   text-localized-tag="SHOW_TOPICS">
										</a>
										<button class="dropdown-item"
										        button-style="@ButtonStyle.None"
										        asp-page-handler="Delete"
										        asp-route-id="@t.Item2.ID"
										        return-confirm-tag="CONFIRM_DELETE"
										        Icon="trash"
										        text-localized-tag="DELETE">
										</button>
									</div>
								</li>
							}

						</ul>
					}
					else
					{
						@await Html.PartialAsync("_NoEntryInfo")
					}
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-end">
		<div class="col-auto">
			<pager page-size="@Model.Size"
			       count="Model.Count">
			</pager>
		</div>
	</div>
</form>

@section Scripts {
	@await Html.PartialAsync("_PostScriptsPartial")
}