@page "{p:int=1}/{handler?}"

@model BannedNamesModel
@using YAF.Core.Extensions
@using YAF.Core.Helpers
@using YAF.Core.Utilities
@using YAF.Types.Extensions
@using YAF.Types.Interfaces
@using YAF.Types.Interfaces.Services
@using YAF.Types.Models
@using YAF.Web.HtmlHelpers

<form method="post">
    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            @Html.IconHeader("hand-paper","ADMIN_BANNEDNAME","TITLE")
                        </div>
                        <div class="col-auto">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="input-group input-group-sm me-2" role="group">
                                    <div class="input-group-text">
                                        @Html.LocalizedText("SHOW"):
                                    </div>
                                    <select asp-for="@Model.Size"
                                            asp-items="Model.PageSizeList"
                                            title="@Html.LocalizedText("COMMON", "SHOW_TITLE")"
                                            aria-label="@Html.LocalizedText("COMMON", "SHOW_TITLE")"
                                            class="form-select"
                                            onchange="this.form.submit();"></select>
                                </div>
                                <div class="btn-group btn-group-sm" role="group">
                                    <button class="dropdown-toggle"
                                            bs-toggle="dropdown"
                                            button-size="Small"
                                            button-style="Secondary"
                                            Icon="filter"
                                            text-localized-tag="FILTER_DROPDOWN"
                                            text-localized-page="ADMIN_USERS"></button>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                                        <div class="px-3 py-1">
                                            <div class="mb-3">
                                                <label class="form-label" info-button="true" 
                                                       asp-for="SearchInput"
                                                       localized-tag="MASK" localized-page="ADMIN_BANNEDNAME"></label>
                                                <input type="text" asp-for="SearchInput" 
                                                       class="form-control"/>
                                            </div>
                                            <div class="mb-3 d-grid gap-2">
                                                <button button-style="Primary"
                                                        text-localized-tag="BTNSEARCH"
                                                        text-localized-page="SEARCH"
                                                        Icon="search"
                                                        asp-page-handler="Search">
                                                </button>
                                                <button button-style="Secondary"
                                                        text-localized-tag="CLEAR"
                                                        Icon="trash"
                                                        asp-page-handler="Clear">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                @if (!Model.List.NullOrEmpty())
                {
                    <div class="card-body">
                        <ul class="list-group">
                            @foreach (var item in Model.List)
                            {
                                <li class="list-group-item list-group-item-action list-group-item-menu">
                                    <div class="d-flex w-100 justify-content-between">
                                        <input type="hidden" ID="fID" Value='@Html.Raw(item.ID)' />
                                        <h5 class="mb-1 text-break">
                                            @item.Mask
                                        </h5>
                                        <small class="d-none d-md-block">
                                            <span class="fw-bold">
                                                @Html.LocalizedText("ADMIN_BANNEDNAME","SINCE")
                                            </span>
                                            @Html.Raw(Model.Get<IDateTimeService>().FormatDateTime(item.Since) )
                                        </small>
                                    </div>
                                    <p class="mb-1">
                                        <span class="fw-bold">
                                            @Html.LocalizedText("ADMIN_BANNEDNAME","REASON")
                                        </span>
                                        @item.Reason
                                    </p>
                                    <small>
                                        <div class="btn-group btn-group-sm">
                                            <button button-style="Info" button-size="Small"
                                                    bs-toggle="ajax-modal"
                                                    bs-target-url="@(Url.Page("BannedNames", "Edit", new {id = item.ID}))"
                                                    text-localized-tag="EDIT"
                                                    title-localized-tag="EDIT"
                                                    Icon="edit" ></button>
                                            <button button-style="Danger" button-size="Small"
                                                    asp-page-handler="Delete"
                                                    asp-route-id="@Html.Raw(item.ID)"
                                                    text-localized-tag="DELETE" return-confirm-tag="MSG_DELETE"
                                                    title-localized-tag="DELETE" Icon="trash" ></button>
                                        </div>
                                    </small>
                                    <div class="dropdown-menu context-menu" aria-labelledby="context menu">
                                        <button button-style="None"
                                                class="dropdown-item"
                                                bs-target-url="@(Url.Page("BannedNames", "Edit", new {id = item.ID}))"
                                                text-localized-tag="EDIT"
                                                title-localized-tag="EDIT"
                                                Icon="edit" ></button>
                                        <button button-style="None"
                                                class="dropdown-item"
                                                asp-page-handler="Delete"
                                                asp-route-id="@Html.Raw(item.ID)"
                                                text-localized-tag="DELETE" return-confirm-tag="MSG_DELETE"
                                                title-localized-tag="DELETE" Icon="trash" ></button>
                                        <div class="dropdown-divider"></div>
                                        <button Icon="plus-square"
                                                button-style="None"
                                                class="dropdown-item"
                                                text-localized-tag="ADD_IP" text-localized-page="ADMIN_BANNEDNAME"
                                                bs-toggle="ajax-modal"
                                                bs-target-url="@(Url.Page("BannedNames", "Add"))"></button>
                                        <div class="dropdown-divider"></div>
                                        <button Icon="upload"
                                                bs-toggle="ajax-modal"
                                                bs-target-url="@(Url.Page("BannedNames", "Import"))"
                                                button-style="None"
                                                class="dropdown-item"
                                                text-localized-tag="IMPORT_IPS" text-localized-page="ADMIN_BANNEDNAME"></button>
                                        <button asp-page-handler="Export"
                                                button-style="None"
                                                class="dropdown-item"
                                                Icon="download"
                                                text-localized-page="ADMIN_BANNEDIP" text-localized-tag="EXPORT"></button>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>
                }
                else
                {
                    <div class="card-body">
                        <empty icon="hand-paper"
                               header-text-page="ADMIN_BANNEDNAME" header-text-tag="EMPTY_HEADER"
                               message-text-page="ADMIN_BANNEDNAME" message-text-tag="EMPTY_MESSAGE">
                        </empty>
                    </div>
                }

                <div class="card-footer text-center">
                    <button class="mb-1"
                            Icon="plus-square"
                            button-style="Primary"
                            text-localized-tag="ADD_IP" text-localized-page="ADMIN_BANNEDNAME"
                            bs-toggle="ajax-modal"
                            bs-target-url="@Url.Page("BannedNames", "Add")"></button>
                    <button class="mb-1"
                            Icon="upload"
                            bs-toggle="ajax-modal"
                            bs-target-url="@(Url.Page("BannedNames", "Import"))"
                            button-style="Info"
                            text-localized-tag="IMPORT_IPS" text-localized-page="ADMIN_BANNEDNAME"></button>
                    <button class="mb-1"
                            asp-page-handler="Export"
                            button-style="Warning"
                            Icon="download"
                            text-localized-page="ADMIN_BANNEDIP" text-localized-tag="EXPORT"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-auto">
            <pager page-size="@Model.Size"
                   count="!Model.List.NullOrEmpty()
             ? (await Model.GetRepository<BannedName>()
                                      .CountAsync(x => x.BoardID == Model.PageBoardContext.PageBoardID)).ToType<int>()
             : 0">
            </pager>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        @Html.Raw(JsAndCssHelper.CompressJavaScript(JavaScriptBlocks.ModalNotifyJs()));

        @Html.Raw(JsAndCssHelper.CompressJavaScript(
            JavaScriptBlocks.DialogFunctionsJs(JavaScriptBlocks.ToolTipJs)))

    </script>
}