@using YAF.Core.Context
@using YAF.Core.Extensions
@using YAF.Types.Interfaces
@using YAF.Types.Models
@using YAF.Web.HtmlHelpers

@model YAF.Types.Modals.ModForumUserModal

@inject BoardContext Current

@{
    IList<AccessMask> masks;

    // only admin can assign all access masks
    if (!Current.IsAdmin)
    {
        // non-admins cannot assign moderation access masks
        masks = await Current.GetRepository<AccessMask>()
            .GetAsync(a => a.BoardID == Current.PageBoardID && a.AccessFlags.ModeratorAccess);
    }
    else
    {
        masks = await Current.GetRepository<AccessMask>().GetByBoardIdAsync();
    }

    var maskList = new SelectList(masks, nameof(AccessMask.ID), nameof(AccessMask.Name));
}

<!-- Modal -->
<div class="modal fade" id="ModForumUserDialog" tabindex="-1" role="dialog" aria-labelledby="ModForumUserDialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Html.LocalizedText("MOD_FORUMUSER", "TITLE")
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="ModForumUser" asp-action="EditModForumUser">
                    <!-- Modal Content START !-->
                    <input asp-for="ForumId" type="hidden" value="@Model.ForumId" />
                    <input asp-for="UserName" type="hidden" value="@Model.UserName" />

                    <div class="mb-3">
                        @if (Model.UserID > 0)
                        {
                            <label asp-for="UserName">@Model.UserName</label>
                            <input asp-for="UserID" type="hidden" value="@Model.UserID"/>
                        }
                        else
                        {
                            <select id="UserSelect" name="UserSelect" class="form-select"></select>
                            <input asp-for="UserID" type="hidden" value="@Model.UserID" />
                        }
                    </div>

                    <div class="mb-3">
                        <label asp-for="AccessMaskID" localized-tag="ACCESSMASK">
                        </label>
                        <select asp-for="AccessMaskID" class="select2-select" asp-items="maskList"></select>
                    </div>
                    <!-- Modal Content END !-->
                </form>
            </div>
            <div class="modal-footer">
                <button button-style="Primary" data-bs-save="modal"
                        text-localized-tag="@(Model.UserID > 0 ? "SAVE": "ADD_USER")"
                        text-localized-page="MOD_FORUMUSER"
                        Icon="save">
                </button>
                <button type="button" button-style="Secondary" icon="xmark" data-bs-dismiss="modal" text-localized-tag="CANCEL"></button>
            </div>
        </div>
    </div>
</div>