@using YAF.Web.HtmlHelpers

@model YAF.Types.Modals.UserMedalEditModal

<!-- Modal -->
<div class="modal fade" id="UserMedalEditDialog" tabindex="-1" role="dialog" aria-labelledby="UserMedalEditDialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @Html.LocalizedText("ADMIN_EDITMEDAL", Model.UserID > 0 ? "EDIT_MEDAL_USER" : "ADD_TOUSER")
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Medal" asp-action="EditUserMedal" class="needs-validation">
                    <!-- Modal Content START !-->
                    <input asp-for="MedalId" type="hidden" value="@Model.MedalId" />
                    <input asp-for="MedalName" type="hidden" value="@Model.MedalName" />
                    <input asp-for="UserName" type="hidden" value="@Model.UserName" />
                
                    <div class="mb-3">
                        @if (Model.UserID > 0)
                        {
                            <input asp-for="UserID" type="hidden" value="@Model.UserID"/>
                        }
                        <label info-button="true" class="form-label"
                               asp-for="UserName"
                               localized-tag="MEDAL_USER" localized-page="ADMIN_EDITMEDAL"></label>

                       
                        @if (Model.UserID > 0)
                        {
                            <label asp-for="UserName">@Model.UserName</label>
                        }
                        else
                        {
                            <select id="UserSelect" class="form-select"></select>
                            <input asp-for="UserID" type="hidden" value="@Model.UserID" />
                        }
                        

                        <div class="invalid-feedback">
                            @Html.LocalizedText("ADMIN_EDITMEDAL","MSG_VALID_USER")
                        </div>
                    </div>

                    <div class="mb-3">
                            <label info-button="true" class="form-label"
                                   asp-for="UserMessage"
                                   localized-tag="OVERRIDE_MESSAGE" localized-page="ADMIN_EDITMEDAL"></label>
                            <input type="text" asp-for="UserMessage"
                                         maxlength="100"
                                         class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label info-button="true" class="form-label"
                                   asp-for="UserSortOrder"
                                   localized-tag="OVERRIDE_ORDER" localized-page="ADMIN_EDITMEDAL"></label>
                            <input type="number" asp-for="UserSortOrder"
                                         class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label info-button="true" class="form-label"
                                   asp-for="UserHide"
                                   localized-tag="HIDE" localized-page="ADMIN_EDITMEDAL"></label>
                            <div class="form-check form-switch">
                                <input type="checkbox" asp-for="UserHide" class="form-check-input"/>
                            </div>
                        </div>
                    <!-- Modal Content END !-->
                </form>
            </div>
            <div class="modal-footer">
                <button button-style="Primary" data-bs-save="editModal"
                        text-localized-tag="@(Model.UserID > 0 ? "SAVE": "ADD_USER")"
                        text-localized-page="ADMIN_EDITMEDAL"
                        Icon="save">
                </button>
                <button type="button" button-style="Secondary" icon="xmark" data-bs-dismiss="modal" text-localized-tag="CANCEL"></button>
            </div>
        </div>
    </div>
</div>