@page "{handler?}"
@using YAF.Core.Helpers
@using YAF.Core.Utilities
@using YAF.Types.Constants
@using YAF.Types.Extensions
@using YAF.Types.Interfaces
@using YAF.Web.HtmlHelpers
@model MyTopicsModel


<form method="post">
    <div class="row">
        <div class="col">
            <div class="card my-3">
                <div class="card-header">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">

                            @switch (Model.Input.TopicModeValue.ToEnum<TopicListMode>())
                            {
                                case TopicListMode.Active:
                                    @Html.IconHeader("comments", "MYTOPICS", "ActiveTopics")
                                    break;
                                case TopicListMode.Unanswered:
                                    @Html.IconHeader("comments", "MYTOPICS", "UnansweredTopics")
                                    break;
                                case TopicListMode.Watch:
                                    @Html.IconHeader("comments", "MYTOPICS", "WatchTopics")
                                    break;
                                case TopicListMode.User:
                                    @Html.IconHeader("comments", "MYTOPICS", "MyTopics")
                                    break;
                            }

                        </div>
                        <div class="col-auto">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="input-group input-group-sm me-2 mb-1" role="group">
                                    <div class="input-group-text">
                                        @Html.LocalizedText("SHOW"):
                                    </div>
                                    <select asp-for="@Model.Size"
                                            asp-items="Model.PageSizeList"
                                            title="@Html.LocalizedText("COMMON", "SHOW_TITLE")"
                                            aria-label="@Html.LocalizedText("COMMON", "SHOW_TITLE")"
                                            class="form-select"
                                            onchange="this.form.submit();"></select>
                                </div>
                                <div class="btn-group me-2 mb-1" role="group" aria-label="Filters">
                                    <button 
                                        class="dropdown-toggle"
                                        bs-toggle="dropdown"
                                        button-size="Small"
                                        button-style="Secondary"
                                        Icon="filter"
                                        text-localized-tag="FILTER_DROPDOWN"
                                        text-localized-page="ADMIN_USERS"></button>

                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                                        <div class="px-3 py-1">
                                            <div class="mb-3">
                                                <label asp-for="Input.TopicModeValue" class="form-label" localized-tag="SELECT"></label>
                                                <select asp-items="Model.TopicMode" asp-for="Input.TopicModeValue" class="form-select"
                                                        onchange="this.form.submit();"></select>
                                            </div>
                                            <div class="mb-3">
                                                <label asp-for="Input.SinceValue" class="form-label" localized-tag="SINCE"></label>
                                                <select asp-items="Model.Since" asp-for="Input.SinceValue" class="form-select"
                                                        onchange="this.form.submit();"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @if (!Model.TopicList.NullOrEmpty())
                    {
                        @for (var index = 0; index < Model.TopicList.Count; index++)
                        {
                            var topic = Model.TopicList[index];

                            if (index + 1 == Model.TopicList.Count)
                            {
                                @Html.TopicContainer(topic, true)
                            }
                            else
                            {
                                @Html.TopicContainer(topic, false)
                            }
                        }
                    }
                    else
                    {
                        <div class="card-body">
                            <alert type="info" icon="info-circle" localized-tag="NO_POSTS">
                            </alert>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button asp-page-handler="MarkAll"
                                    text-localized-tag="MARK_ALL_ASREAD" text-localized-page="DEFAULT"
                                    button-style="Secondary"
                                    button-size="Small"
                                    Icon="glasses"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-auto">
            <pager page-size="@Model.Size"
                   count="0">
            </pager>
        </div>
    </div>
</form>

@section Scripts {

    <script>
        @Html.Raw(JsAndCssHelper.CompressJavaScript(JavaScriptBlocks.TopicLinkPopoverJs(
            $"{Model.Get<ILocalization>().GetText("TOPIC_STARTER")}&nbsp;...",
            ".topic-starter-popover",
            "hover")))

        @Html.Raw(JsAndCssHelper.CompressJavaScript(
            JavaScriptBlocks.TopicLinkPopoverJs(
                $"{Model.Get<ILocalization>().GetText("LASTPOST")}&nbsp;{Model.Get<ILocalization>().GetText("SEARCH", "BY")} ...",
                ".topic-link-popover",
                "focus hover")))

        @Html.Raw(JsAndCssHelper.CompressJavaScript(
            JavaScriptBlocks.ForumIconLegendPopoverJs(
                (await Html.PartialAsync("_TopicIconLegend")).RenderToString().ToJsString(),
                "topic-icon-legend-popvover")))
    </script>
}