@using Microsoft.AspNetCore.Mvc.TagHelpers
@using YAF.Core.Context
@using YAF.Core.Helpers
@using YAF.Core.Services
@using YAF.Types.Constants
@using YAF.Types.Interfaces
@using YAF.Web.HtmlHelpers
@using YAF.Types.Extensions
@using YAF.Web.TagHelpers

@model MyMessagesModel

@inject BoardContext Current

<form method="post">
<div class="card-header">
    <div class="row justify-content-between align-items-center">
        <div class="col-auto">
            @Html.Icon("inbox")
           
        </div>
        <div class="col">
            <select asp-for="@Model.ViewIndex"
                    asp-items="Model.PmViews"
                    aria-label="Message Mode"
                    class="form-select w-25"
                    onchange="this.form.submit();"></select>
        </div>
        <div class="col-auto">
            <div class="btn-toolbar" role="toolbar">
                <div class="input-group input-group-sm me-2" role="group">
                    <div class="input-group-text">
                        @Html.LocalizedText("SHOW"):
                    </div>
                   
                    <select asp-for="@Model.Size"
                            asp-items="Model.PageSizeList"
                            title="@Html.LocalizedText("COMMON", "SHOW_TITLE")"
                            aria-label="@Html.LocalizedText("COMMON", "SHOW_TITLE")"
                            class="form-select"
                            onchange="this.form.submit();"></select>
                    
                </div>
                
                @if (!Model.Messages.NullOrEmpty())
                {
                    <div class="btn-group btn-group-sm">
                        <button class="dropdown-toggle"
                            button-style="Secondary"
                            bs-toggle="dropdown"
                            text-localized-tag="SORT_BY"
                            icon="sort"></button>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                        <button class="dropdown-item"
                                text-localized-tag="@(Model.View == PmView.Outbox ? "TO_ASC" : "FROM_ASC")"
                                icon="@(Model.SortFromAscIcon)"
                                button-style="None"
                                asp-page-handler="FromLinkAsc"></button>
                        <button class="dropdown-item"
                                text-localized-tag="@(Model.View == PmView.Outbox ? "TO_DESC" : "FROM_DESC")"
                                icon="@(Model.SortFromDescIcon)"
                                button-style="None" 
                                asp-page-handler="FromLinkDesc"></button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item"
                                icon="@(Model.SortSubjectAscIcon)"
                                button-style="None" 
                                asp-page-handler="SubjectLinkAsc"
                                text-localized-tag="SUBJECT_ASC"></button>
                        <button class="dropdown-item"
                                icon="@(Model.SortSubjectDescIcon)"
                                button-style="None" 
                                asp-page-handler="SubjectLinkDesc"
                                text-localized-tag="SUBJECT_DESC"></button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item"
                                icon="@(Model.SortDateAscIcon)"
                                button-style="None" 
                                asp-page-handler="DateLinkAsc"
                                text-localized-tag="DATE_ASC"></button>
                        <button class="dropdown-item"
                                icon="@(Model.SortDateDescIcon)"
                                button-style="None" 
                                asp-page-handler="DateLinkDesc"
                                text-localized-tag="DATE_DESC"></button>
                    </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<div class="card-body">
    @if (!Model.Messages.NullOrEmpty())
    {
        <ul class="list-group">
            @for (var i = 0; i < Model.Messages.Count; i++)
            {
                var message = Model.Messages[i];

                <li class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 text-break">
                            <div class="form-check d-inline-flex align-middle">
                                <input asp-for="@Model.Messages[i].Selected" class="form-check-input me-3"/>
                                <label class="form-check-label" asp-for="@Model.Messages[i].Selected">
                                </label>
                            </div>
                            @Html.Icon(message.IsRead ? "envelope-open" : "envelope", message.IsRead ? "text-secondary" : "text-success")

                            <a href="@Html.Raw(Model.Get<LinkBuilder>().GetLink(ForumPages.PrivateMessage, new {pm = message.UserPMessageID, v = PmViewConverter.ToQueryStringParam(Model.View)}))">
                                @Html.HtmlEncode(message.Subject)
                            </a>
                        </h5>
                        <small class="d-none d-md-block">
                            <span class="fw-bold">
                                @Html.LocalizedText("DATE")
                            </span>
                            @Html.DisplayDateTime(DateTimeFormat.Both, message.Created)
                        </small>
                    </div>
                    <p class="mb-1">
                        <span class="fw-bold">
                            @Html.LocalizedText(Model.View == PmView.Outbox ? "TO" : "FROM")
                        </span>
                        @Html.UserLink(Model.View == PmView.Outbox ? message.ToUserID : message.FromUserID, 
                            Model.View == PmView.Outbox ? Current.BoardSettings.EnableDisplayName ? message.ToUserDisplayName : message.ToUser : Current.BoardSettings.EnableDisplayName ? message.FromUserDisplayName : message.FromUser, 
                            Model.View == PmView.Outbox ? message.ToSuspended : message.FromSuspended,
                            Model.View == PmView.Outbox ? message.ToStyle: message.FromStyle)
                    </p>
                </li>
            }
        </ul>
    }

    @if (!Model.Messages.NullOrEmpty())
    {
        <div class="btn-toolbar mt-3" role="toolbar">
            <div class="btn-group me-2 mb-1" role="group">
                <button button-size="Small"
                        text-localized-tag="MARK_ALL_ASREAD"
                         title-localized-tag="MARK_ALL_ASREAD"
                         bs-toggle="tooltip"
                         asp-page-handler="MarkAsRead"
                         button-style="Secondary" 
                         icon="eye"></button>
            </div>
            <div class="btn-group me-2 mb-1" role="group">
                <button  button-size="Small"
                         text-localized-tag="EXPORTSELECTED" 
                         title-localized-tag="EXPORTSELECTED" 
                         bs-toggle="tooltip"
                         asp-page-handler="ExportSelected" 
                         button-style="Secondary" 
                         icon="file-export"></button>
                <button  button-size="Small"
                         text-localized-tag="EXPORTALL" 
                         title-localized-tag="EXPORTALL" 
                         bs-toggle="tooltip"
                         asp-page-handler="ExportAll" 
                         button-style="Secondary" 
                         icon="file-export"></button>
            </div>
            <div class="btn-group mb-1" role="group">
                <button  button-size="Small"
                         text-localized-tag="DELETESELECTED" 
                         title-localized-tag="DELETESELECTED" 
                         bs-toggle="tooltip"
                         return-confirm-tag="CONFIRM_DELETE"
                         asp-page-handler="DeleteSelected"
                         button-style="Secondary" 
                         icon="trash"></button>
                <button button-size="Small"
                         text-localized-tag="DELETEALL" 
                         title-localized-tag="DELETEALL" 
                         bs-toggle="tooltip"
                         return-confirm-tag="CONFIRM_DELETEALL"
                         asp-page-handler="DeleteAll"
                         button-style="Secondary" 
                         icon="trash"></button>
            </div>
        </div>
        <hr />
    }

    <div class="row justify-content-end">
        <div class="col-auto">
            <pager page-size="@Model.Size"
                   count="Model.MessagesCount">
            </pager>
        </div>
    </div>
    
    @if (!Model.Messages.NullOrEmpty())
    {
        <label localized-tag="EXPORTFORMAT" class="form-label"></label>
            <div class="btn-group" role="group" aria-label="@Html.LocalizedText("EXPORTFORMAT")">
                <input type="radio" class="btn-check" asp-for="@Model.ExportType" id="ExportXml" value="xml" autocomplete="off" checked />
                <label class="btn btn-outline-primary" for="ExportXml">XML</label>

                <input type="radio" class="btn-check" asp-for="@Model.ExportType" id="ExportCsv" value="csv" />
                <label class="btn btn-outline-primary" for="ExportCsv">CSV</label>
        </div>
    }
    else
    {
        <alert type="info" icon="info-circle" localized-tag="NO_MESSAGES"></alert>
    }
</div>
</form>