@using YAF.Web.HtmlHelpers

<div class="py-2 py-lg-1 col-12 col-lg-auto">
	<div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
	<hr class="d-lg-none my-2 text-white-50">
</div>
                        
<div class="d-flex">
	<ul class="navbar-nav">
		<li class="nab-item dropdown">
			<button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center" type="button" id="bd-theme" 
			        data-bs-toggle="dropdown" aria-expanded="false" title="@Html.LocalizedText("SELECT_THEME_MODE")">
				@Html.Icon("moon theme-icon-active")
				<span class="d-lg-none ms-2" id="bd-theme-text">@Html.LocalizedText("SELECT_THEME_MODE")</span>
			</button>
			<ul class="dropdown-menu dropdown-menu-end">
				<li>
					<button class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" type="button">
						@Html.Icon("sun")
						@Html.LocalizedText("THEME_MODE", "LIGHT")
						@Html.Icon("check ms-4 d-none")
					</button>
				</li>
				<li>
					<button class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" type="button">
						@Html.Icon("moon")
						@Html.LocalizedText("THEME_MODE", "DARK")
						@Html.Icon("check ms-4 d-none")
					</button>
				</li>
				<li>
					<button class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" type="button">
						@Html.Icon("circle-half-stroke")
						@Html.LocalizedText("THEME_MODE","AUTO")
						@Html.Icon("check ms-4 d-none")
					</button>
				</li>
			</ul>
		</li>
	</ul>
</div>