@page
@using YAF.Core.Context
@using YAF.Core.Extensions
@using YAF.Types.Constants
@using YAF.Types.Extensions
@using YAF.Types.Interfaces
@using YAF.Types.Interfaces.Identity
@using YAF.Types.Interfaces.Services
@using YAF.Web.HtmlHelpers

@model YAF.Pages.Admin.EditUser.UsersKillModel

@inject BoardContext Current

@{
    Layout = "_EditUserLayout";
}

<h2>
    @Html.LocalizedText("ADMIN_EDITUSER", "HEAD_KILL_USER")
</h2>

<form method="post">
    <input type="hidden" asp-for="Input.UserId" value="@Model.Input.UserId" />

    <div class="mb-3">
	    @Html.LocalizedText("ADMIN_EDITUSER", "IP_ADDRESSES")
        
	    @foreach (var address in Model.IpAddresses.Take(5))
        {
            <a href="@(string.Format(Current.BoardSettings.IPInfoPageURL, address))" target="_blank" rel="noopener"
               title="@Html.LocalizedText("COMMON", "TT_IPDETAILS")">
                @address
            </a>
            <br />
        }

    </div>
    <div class="row">
        <div class="mb-3 col-md-4">
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" asp-for="Input.BanEmail" />
                <label class="form-check-label" asp-for="Input.BanEmail" localized-tag="BAN_EMAIL_OFUSER" localized-page="ADMIN_EDITUSER">
                </label>
            </div>
        </div>

        @if (Model.IpAddresses.HasItems())
        {
            <div class="mb-3 col-md-4">
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" asp-for="Input.BanIps" />
                    <label class="form-check-label" asp-for="Input.BanIps" localized-tag="BAN_IP_OFUSER" localized-page="ADMIN_EDITUSER">
                    </label>
                </div>
            </div>
        }
        
        <div class="mb-3 col-md-4">
           
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" asp-for="Input.BanName" />
                <label class="form-check-label" asp-for="Input.BanName" localized-tag="BAN_NAME_OFUSER" localized-page="ADMIN_EDITUSER">
                </label>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Input.SuspendOrDelete" localized-tag="SUSPEND_OR_DELETE_ACCOUNT" localized-page="ADMIN_EDITUSER">
        </label>
        <select asp-for="Input.SuspendOrDelete" asp-items="Model.SuspendOrDeleteList" class="form-select">
        </select>
    </div>
    
    @if (Model.EditUser.Suspended.HasValue)
    {
        <div class="alert alert-info" role="alert">
            @Html.LocalizedText("PROFILE", "ENDS")
            @Html.Raw(Model.Get<IDateTimeService>().FormatDateTime(Model.EditUser.Suspended.Value))
        </div>
    }

    <div class="mb-3">
	    @Html.LocalizedText("ADMIN_EDITUSER", "DELETE_POSTS_USER")
        <strong>
            @Model.AllPostsByUser.Count()
        </strong> (<a target="_blank"text-localized-tag="VIEW_ALL" text-localized-page="ADMIN_EDITUSER" button-style="None" 
                      asp-page="@ForumPages.Search.GetPageName()"
                      asp-route-postedby="@(!Model.EditUser.UserFlags.IsGuest
	                                          ? Model.EditUser.DisplayOrUserName()
                                              : (await Model.Get<IAspNetUsersHelper>().GuestUserAsync(Model.PageBoardContext.PageBoardID)).Name)"></a>)
    </div>

    @if (Model.PageBoardContext.BoardSettings.StopForumSpamApiKey.IsSet() && Model.IpAddresses.HasItems())
    {
        <div class="mb-3">
            <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input" asp-for="Input.ReportUser" />
                <label class="form-check-label" asp-for="Input.ReportUser" localized-tag="REPORT_USER" localized-page="ADMIN_EDITUSER">
                </label>
            </div>
        </div>
    }
    <hr />
    <div class="text-lg-center">
        <button button-style="Primary"
                Icon="ban"
                text-localized-tag="HEAD_KILL_USER"
                asp-page-handler="Kill"
                return-confirm-tag="KILL_USER_CONFIRM"></button>
        <a button-style="Secondary"
           Icon="xmark"
           text-localized-tag="CANCEL"
           asp-page="@ForumPages.Admin_Users.GetPageName()"></a>
    </div>
</form>